block variables
  - var title = 'Автомобили'
  - var title2 = 'Toyota Land Cruiser'
  - var title3 = 'Сравнение моделей автомобилей'
  - var lnk = 'Подробнее'
  -
    var dictMenu = {
      'Главная': 'index.html', 
      'Land Cruiser': 'toyota.html',  
      'Laurel': "#", 
      'Список': "table.html"
    }

  - var listImages = ['image9.jpg', 'image41.jpg', 'image42.jpg', 'image43.jpg', 'image40.jpg']
  - var head = ['Модель', 'Поколение', 'Годы выпуска', 'Тип кузова', 'Длина, м', 'Мощность, л.с.', 'Макс. скорость, км/ч']

  -
    var listSections = [
      {
        'title': 'Mercedes-Benz C-Class',
        'image': 'image5.jpg', 
        'text': 'M 274 DE 20 AL'
      },
      {
        'title': 'Dodge Challenger SRT Hellcat',
        'image': 'image45.jpg', 
        'text': 'V8'
      },
      {
        'title': 'Chevrolet Camaro',
        'image': 'image46.jpg', 
        'text': 'V6'
      },
      {
        'title': 'Koenigsegg CCX',
        'image': 'image47.jpg', 
        'text': 'V8'
      },
      {
        'title': 'Ford GT',
        'image': 'image48.jpg', 
        'text': 'V6'
      },
      {
        'title': 'Mercedes-AMG CLE',
        'image': 'image49.jpg', 
        'text': 'V6'
      },
      {
        'title': 'Audi RS 5',
        'image': 'image50.jpg', 
        'text': 'V6'
      },
      {
        'title': 'Toyota Land Cruiser 300',
        'image': 'image51.jpg', 
        'text': 'V6'
      },
      {
        'title': 'Toyota Land Cruiser Prado',
        'image': 'image52.jpg', 
        'text': '1GD-FTV'
      },
      {
        'title': 'BMW M4',
        'image': 'image53.jpg', 
        'text': 'M TwinPower Turbo'
      },
      {
        'title': 'Mercedes-AMG G 63',
        'image': 'image55.jpg', 
        'text': 'V8'
      },
      {
        'title': 'Brabus G V12 900',
        'image': 'image56.jpg', 
        'text': 'V12'
      },
      {
        'title': 'Lamborghini Revuelto',
        'image': 'image57.jpg', 
        'text': 'V12SS'
      }
    ]

  -
    var mainContent = [
      {
        'title': "Mazda RX-7",
        'text1': "Mazda RX-7-спортивный автомобиль, выпускавшийся японской компанией Mazda с 1978 по 2002 год. Автомобиль известен своим необычным двигателем. Mazda RX-7 оснащался роторно-поршневым двигателем Ванкеля, что выделяло его на фоне конкурентов, особенно в боллидах формулы 1. Благодаря легкому мотору, автомобиль обладал прекрасной развесовкой и отличной управляемостью. Mazda RX-7 стал легендой в мире спортивных автомобилей благодаря своей уникальной конструкции и выдающимся характеристикам. Его роторный двигатель обеспечивал высокую мощность при небольшом объеме, что делало автомобиль невероятно динамичным. Модель успешно выступала в гоночных сериях и завоевала множество наград. Дизайн RX-7 считается одним из самых красивых в истории.",
        'text2': `Благодаря своей революционной конструкции, автомобиль снискал славу на гоночных трассах по всему миру, одерживая победы в престижных соревнованиях, таких как 24 часа Дайтоны. Особую известность ему принесла силовая установка — роторно-поршневой двигатель, который при скромном объеме выдавал впечатляющую мощность. Со временем модель эволюционировала, и ее третье поколение (FD) стало иконой стиля 90-х, получив агрессивный дизайн и турбонаддув. Технические инновации Mazda RX-7 включали передовую систему охлаждения, улучшенную аэродинамику и электронные системы управления. Автомобиль предлагал водителю непревзойденное чувство контроля и отзывчивости, что делало его фаворитом среди автолюбителей и гонщиков.`,
        'image': `image54.jpg`
      }
    ]

  -
    var structures = [
      {
        menuItem: "Toyota Land Cruser",
        pict: "image9.jpg",
        firstP: `Toyota Land Cruiser — легендарный полноразмерный внедорожник, выпускаемый японской компанией Toyota с 1951 года. Модель заслужила репутацию одного из самых надежных и долговечных автомобилей в мире, способного работать в самых экстремальных условиях.`,
        secondP: `Land Cruiser стал символом безотказности и проходимости. Его можно встретить в самых отдаленных уголках планеты - от африканских саванн до сибирской тайги. Везде, где нужна абсолютная надежность, выбирают Land Cruiser.`,
        list1_title: 'Эволюция поколений',
        list1_1: 'Toyota BJ/J20 (1951-1955) - первое поколение, созданное для военных нужд',
        list1_2: '20 Series (1955-1960) - первый гражданский Land Cruiser',
        list1_3: '40 Series (1960-1984) - классический дизайн, ставший иконой',
        list1_4: '55 Series (1967-1980) - первый Station Wagon',
        list1_5: '60 Series (1980-1990) - переход к большей роскоши и комфорту',
        list1_6: '80 Series (1990-1997) - современные технологии и повышенная безопасность',
        list1_7: '100 Series (1998-2007) - независимая передняя подвеска, новый уровень комфорта',
        list1_8: '200 Series (2007-2021) - сочетание роскоши и внедорожных качеств',
        list1_9: '300 Series (2021-настоящее время) - новая платформа TNGA, современные технологии',
        list2_title: 'Интересные факты',
        list2_1: 'Land Cruiser занимает первое место в рейтинге автомобилей, которые чаще всего преодолевают отметку в 400 000 км пробега без капитального ремонта',
        list2_2: 'В Австралии Land Cruiser является основным транспортным средством для многих фермеров и часто используется для буксировки тяжелых прицепов на огромные расстояния',
        list2_3: 'ООН и многие гуманитарные организации используют Land Cruiser в своих миссиях по всему миру благодаря их надежности',
        list2_4: 'В 2021 году была представлена 300-я серия с совершенно новой платформой TNGA, что значительно улучшило ходовые качества и безопасность при сохранении легендарной проходимости',
        list2_5: 'Toyota Land Cruiser — это не просто автомобиль, а настоящая легенда, доказавшая свою надежность в самых суровых условиях по всему миру. Сочетание долговечности, проходимости и комфорта делает его одним из самых уважаемых внедорожников в истории автопрома'
      }
    ]

  - var sort_options = ['Нет', 'Модель', 'Тип кузова', 'Год выпуска', 'Длина', 'Мощность', 'Макс. скорость']

  -
    var autoData = [
      {
        "Модель": "Toyota Land Cruiser",
        "Поколение": "J300",
        "Годы": "2021-2024",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "4.95",
        "Мощность (л.с.)": "409",
        "Макс. скорость (км/ч)": "210"
      },
      {
        "Модель": "Toyota Land Cruiser",
        "Поколение": "J200",
        "Годы": "2007-2021",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "4.95",
        "Мощность (л.с.)": "309",
        "Макс. скорость (км/ч)": "200"
      },
      {
        "Модель": "BMW 7 Series",
        "Поколение": "G70",
        "Годы": "2022-2024",
        "Тип кузова": "Седан",
        "Длина (м)": "5.39",
        "Мощность (л.с.)": "544",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "BMW 7 Series",
        "Поколение": "G11",
        "Годы": "2015-2022",
        "Тип кузова": "Седан",
        "Длина (м)": "5.12",
        "Мощность (л.с.)": "450",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz S-Class",
        "Поколение": "W223",
        "Годы": "2020-2024",
        "Тип кузова": "Седан",
        "Длина (м)": "5.18",
        "Мощность (л.с.)": "503",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz S-Class",
        "Поколение": "W222",
        "Годы": "2013-2020",
        "Тип кузова": "Седан",
        "Длина (м)": "5.12",
        "Мощность (л.с.)": "455",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Nissan GT-R",
        "Поколение": "R35 (Premium)",
        "Годы": "2017-2024",
        "Тип кузова": "Купе",
        "Длина (м)": "4.71",
        "Мощность (л.с.)": "570",
        "Макс. скорость (км/ч)": "315"
      },
      {
        "Модель": "Nissan GT-R",
        "Поколение": "R35",
        "Годы": "2007-2016",
        "Тип кузова": "Купе",
        "Длина (м)": "4.65",
        "Мощность (л.с.)": "480",
        "Макс. скорость (км/ч)": "310"
      },
      {
        "Модель": "Honda NSX",
        "Поколение": "NC1",
        "Годы": "2016-2022",
        "Тип кузова": "Купе",
        "Длина (м)": "4.47",
        "Мощность (л.с.)": "581",
        "Макс. скорость (км/ч)": "308"
      },
      {
        "Модель": "Honda NSX",
        "Поколение": "NA1/NA2",
        "Годы": "1990-2005",
        "Тип кузова": "Купе",
        "Длина (м)": "4.43",
        "Мощность (л.с.)": "280",
        "Макс. скорость (км/ч)": "270"
      },
      {
        "Модель": "Mazda MX-5 Miata",
        "Поколение": "ND",
        "Годы": "2015-2024",
        "Тип кузова": "Родстер",
        "Длина (м)": "3.91",
        "Мощность (л.с.)": "184",
        "Макс. скорость (км/ч)": "230"
      },
      {
        "Модель": "Mazda MX-5 Miata",
        "Поколение": "NC",
        "Годы": "2005-2015",
        "Тип кузова": "Родстер",
        "Длина (м)": "4.02",
        "Мощность (л.с.)": "170",
        "Макс. скорость (км/ч)": "215"
      },
      {
        "Модель": "Toyota Supra",
        "Поколение": "A90",
        "Годы": "2019-2024",
        "Тип кузова": "Купе",
        "Длина (м)": "4.38",
        "Мощность (л.с.)": "387",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Toyota Supra",
        "Поколение": "A80",
        "Годы": "1993-2002",
        "Тип кузова": "Купе",
        "Длина (м)": "4.52",
        "Мощность (л.с.)": "280",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "BMW M5",
        "Поколение": "F90",
        "Годы": "2017-2023",
        "Тип кузова": "Седан",
        "Длина (м)": "4.96",
        "Мощность (л.с.)": "600",
        "Макс. скорость (км/ч)": "305"
      },
      {
        "Модель": "BMW M5",
        "Поколение": "F10",
        "Годы": "2011-2016",
        "Тип кузова": "Седан",
        "Длина (м)": "4.91",
        "Мощность (л.с.)": "560",
        "Макс. скорость (км/ч)": "305"
      },
      {
        "Модель": "Mercedes-AMG GT",
        "Поколение": "C190",
        "Годы": "2014-2024",
        "Тип кузова": "Купе",
        "Длина (м)": "4.54",
        "Мощность (л.с.)": "585",
        "Макс. скорость (км/ч)": "318"
      },
      {
        "Модель": "Mercedes-Benz SL",
        "Поколение": "R231",
        "Годы": "2012-2020",
        "Тип кузова": "Родстер",
        "Длина (м)": "4.62",
        "Мощность (л.с.)": "435",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Nissan Patrol",
        "Поколение": "Y62",
        "Годы": "2010-2024",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "5.16",
        "Мощность (л.с.)": "405",
        "Макс. скорость (км/ч)": "210"
      },
      {
        "Модель": "Nissan Patrol",
        "Поколение": "Y61",
        "Годы": "1997-2010",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "5.08",
        "Мощность (л.с.)": "170",
        "Макс. скорость (км/ч)": "165"
      },
      {
        "Модель": "Honda Civic Type R",
        "Поколение": "FK8",
        "Годы": "2017-2021",
        "Тип кузова": "Хэтчбек",
        "Длина (м)": "4.56",
        "Мощность (л.с.)": "320",
        "Макс. скорость (км/ч)": "272"
      },
      {
        "Модель": "Honda Civic Type R",
        "Поколение": "FK2",
        "Годы": "2015-2017",
        "Тип кузова": "Хэтчбек",
        "Длина (м)": "4.39",
        "Мощность (л.с.)": "310",
        "Макс. скорость (км/ч)": "270"
      },
      {
        "Модель": "Mazda RX-7",
        "Поколение": "FD",
        "Годы": "1992-2002",
        "Тип кузова": "Купе",
        "Длина (м)": "4.28",
        "Мощность (л.с.)": "280",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mazda RX-7",
        "Поколение": "FC",
        "Годы": "1985-1992",
        "Тип кузова": "Купе",
        "Длина (м)": "4.31",
        "Мощность (л.с.)": "205",
        "Макс. скорость (км/ч)": "230"
      },
      {
        "Модель": "Toyota Crown",
        "Поколение": "S235",
        "Годы": "2022-2024",
        "Тип кузова": "Седан",
        "Длина (м)": "4.93",
        "Мощность (л.с.)": "349",
        "Макс. скорость (км/ч)": "230"
      },
      {
        "Модель": "Toyota Crown",
        "Поколение": "S210",
        "Годы": "2018-2022",
        "Тип кузова": "Седан",
        "Длина (м)": "4.91",
        "Мощность (л.с.)": "299",
        "Макс. скорость (км/ч)": "225"
      },
      {
        "Модель": "BMW X5",
        "Поколение": "G05",
        "Годы": "2018-2023",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "4.92",
        "Мощность (л.с.)": "530",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "BMW X5",
        "Поколение": "F15",
        "Годы": "2013-2018",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "4.88",
        "Мощность (л.с.)": "450",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz G-Class",
        "Поколение": "W463",
        "Годы": "2018-2024",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "4.87",
        "Мощность (л.с.)": "585",
        "Макс. скорость (км/ч)": "240"
      },
      {
        "Модель": "Mercedes-Benz G-Class",
        "Поколение": "W463 (pre-facelift)",
        "Годы": "1990-2018",
        "Тип кузова": "Внедорожник",
        "Длина (м)": "4.66",
        "Мощность (л.с.)": "296",
        "Макс. скорость (км/ч)": "180"
      },
      {
        "Модель": "Nissan Z",
        "Поколение": "Z34",
        "Годы": "2022-2024",
        "Тип кузова": "Купе",
        "Длина (м)": "4.38",
        "Мощность (л.с.)": "405",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Nissan 370Z",
        "Поколение": "Z34",
        "Годы": "2008-2021",
        "Тип кузова": "Купе",
        "Длина (м)": "4.25",
        "Мощность (л.с.)": "332",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Honda Accord",
        "Поколение": "XI",
        "Годы": "2017-2022",
        "Тип кузова": "Седан",
        "Длина (м)": "4.88",
        "Мощность (л.с.)": "252",
        "Макс. скорость (км/ч)": "240"
      },
      {
        "Модель": "Honda Accord",
        "Поколение": "IX",
        "Годы": "2012-2017",
        "Тип кузова": "Седан",
        "Длина (м)": "4.86",
        "Мощность (л.с.)": "190",
        "Макс. скорость (км/ч)": "230"
      },
      {
        "Модель": "Mazda 6",
        "Поколение": "GJ/GL",
        "Годы": "2012-2021",
        "Тип кузова": "Седан",
        "Длина (м)": "4.87",
        "Мощность (л.с.)": "250",
        "Макс. скорость (км/ч)": "230"
      },
      {
        "Модель": "Mazda 6",
        "Поколение": "GG/GY",
        "Годы": "2007-2012",
        "Тип кузова": "Седан",
        "Длина (м)": "4.75",
        "Мощность (л.с.)": "170",
        "Макс. скорость (км/ч)": "215"
      },
      {
        "Модель": "Toyota Camry",
        "Поколение": "XV70",
        "Годы": "2017-2024",
        "Тип кузова": "Седан",
        "Длина (м)": "4.88",
        "Мощность (л.с.)": "301",
        "Макс. скорость (км/ч)": "230"
      },
      {
        "Модель": "Toyota Camry",
        "Поколение": "XV50",
        "Годы": "2011-2017",
        "Тип кузова": "Седан",
        "Длина (м)": "4.85",
        "Мощность (л.с.)": "178",
        "Макс. скорость (км/ч)": "210"
      },
      {
        "Модель": "BMW 3 Series",
        "Поколение": "G20",
        "Годы": "2018-2023",
        "Тип кузова": "Седан",
        "Длина (м)": "4.71",
        "Мощность (л.с.)": "374",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "BMW 3 Series",
        "Поколение": "F30",
        "Годы": "2011-2019",
        "Тип кузова": "Седан",
        "Длина (м)": "4.63",
        "Мощность (л.с.)": "306",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz C-Class",
        "Поколение": "W206",
        "Годы": "2021-2024",
        "Тип кузова": "Седан",
        "Длина (м)": "4.75",
        "Мощность (л.с.)": "258",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz C-Class",
        "Поколение": "W205",
        "Годы": "2014-2021",
        "Тип кузова": "Седан",
        "Длина (м)": "4.68",
        "Мощность (л.с.)": "245",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Nissan Skyline GT-R",
        "Поколение": "R34",
        "Годы": "1999-2002",
        "Тип кузова": "Купе",
        "Длина (м)": "4.60",
        "Мощность (л.с.)": "280",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Nissan Skyline GT-R",
        "Поколение": "R33",
        "Годы": "1995-1998",
        "Тип кузова": "Купе",
        "Длина (м)": "4.67",
        "Мощность (л.с.)": "280",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Honda S2000",
        "Поколение": "AP2",
        "Годы": "2004-2009",
        "Тип кузова": "Родстер",
        "Длина (м)": "4.13",
        "Мощность (л.с.)": "240",
        "Макс. скорость (км/ч)": "240"
      },
      {
        "Модель": "Honda S2000",
        "Поколение": "AP1",
        "Годы": "1999-2003",
        "Тип кузова": "Родстер",
        "Длина (м)": "4.13",
        "Мощность (л.с.)": "240",
        "Макс. скорость (км/ч)": "240"
      },
      {
        "Модель": "Mazda CX-5",
        "Поколение": "KF",
        "Годы": "2017-2024",
        "Тип кузова": "Кроссовер",
        "Длина (м)": "4.55",
        "Мощность (л.с.)": "194",
        "Макс. скорость (км/ч)": "195"
      },
      {
        "Модель": "Mazda CX-5",
        "Поколение": "KE",
        "Годы": "2012-2017",
        "Тип кузова": "Кроссовер",
        "Длина (м)": "4.54",
        "Мощность (л.с.)": "165",
        "Макс. скорость (км/ч)": "190"
      },
      {
        "Модель": "Toyota Hilux",
        "Поколение": "VIII",
        "Годы": "2015-2024",
        "Тип кузова": "Пикап",
        "Длина (м)": "5.33",
        "Мощность (л.с.)": "204",
        "Макс. скорость (км/ч)": "180"
      },
      {
        "Модель": "Toyota Hilux",
        "Поколение": "VII",
        "Годы": "2005-2015",
        "Тип кузова": "Пикап",
        "Длина (м)": "5.26",
        "Мощность (л.с.)": "171",
        "Макс. скорость (км/ч)": "170"
      },
      {
        "Модель": "BMW Z4",
        "Поколение": "G29",
        "Годы": "2018-2024",
        "Тип кузова": "Родстер",
        "Длина (м)": "4.32",
        "Мощность (л.с.)": "340",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "BMW Z4",
        "Поколение": "E89",
        "Годы": "2009-2016",
        "Тип кузова": "Родстер",
        "Длина (м)": "4.24",
        "Мощность (л.с.)": "306",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz E-Class",
        "Поколение": "W213",
        "Годы": "2016-2023",
        "Тип кузова": "Седан",
        "Длина (м)": "4.93",
        "Мощность (л.с.)": "333",
        "Макс. скорость (км/ч)": "250"
      },
      {
        "Модель": "Mercedes-Benz E-Class",
        "Поколение": "W212",
        "Годы": "2009-2016",
        "Тип кузова": "Седан",
        "Длина (м)": "4.87",
        "Мощность (л.с.)": "292",
        "Макс. скорость (км/ч)": "250"
      }
    ]